*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerItem {
    width: 30%;
}

.random{
    width: 100%;
    margin-bottom: 16px;
}

.random button{
    width: 100%;
    padding: 8px 16px;
    background-color: slategrey;
    color: whitesmoke;
    cursor: pointer;
}

.colorButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorButtonItem{
    width: 455px;
}

.colorButtonItem button {
    width: 100%;
    padding: 8px 16px;
}

#btnRed{
    background-color: red;
    color: white;
}
#btnGreen{
    background-color: green;
    color: white;
}
#btnBlue{
    background-color: blue;
    color: white;
}